body{
    background-color:rgb(0, 89, 255);
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 0.02fr 0.5em 2fr 2em;
    grid-template-areas: 
    "nav nav nav nav"
    ". . . ."
    ". main main ."
    ". . . .";
 }

 h1{
   font-size: 3.5em;
 }

 h2{
   font-size:2em;
}

h3{
   font-size:1.5em;
}

p{
   font-size: 1.5em;
}

button{
   height:5em;
   margin-bottom:0.5em;
}

#main button:hover{
   color:rgb(140, 180, 255);
}

h1,h2,p,button,h3{
   font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
   width:30em;
}

h1,h2,h3{
   text-align: center;
}

#main{
   display:flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   grid-area:main;
   padding: 1em 28em 8em 28em;
   border-radius:5em;
   border:solid 0.5em rgba(255, 119, 0, 0.526);
   box-shadow:1em 1em rgba(0, 255, 238, 0.784);
   width: 5em;
}

nav{
   grid-area:nav;
   background-color: aqua;
   position:fixed;
   width:100%;
   top:0;
   left:0;
   display:flex;
   flex-direction: row;
   align-content: center;
   border-bottom:0.3em solid rgba(0, 0, 0, 0.324);
}

nav > button{
   background-color: aqua;
   margin-bottom:auto;
   width: 15em;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:solid rgba(0, 0, 0, 0.324);
   font-size: 1em;
}

img{
   width:40em;
   border: 0.1em solid black;
}

nav button:hover{
   color:rgb(160, 59, 255);
}

#adjustFont{
   width:auto;
   border-right:none;
   padding-right:0.1em;
}

#buttonbuttonbutton{
   width:auto;
   padding-left:0em;
   text-align:left;
   
}

#adjustFont:hover, #buttonbuttonbutton:hover{
   color:black;
}

#plusle,#minun{
   border-radius:15em;
   font-size:3em;
   padding:0em 0.3em 0em 0.3em;
   background-color: rgb(116, 255, 255);
   border: solid black 0.1em;
}

#plusle:hover,#minun:hover{
   color:rgb(160, 59, 255);
}

@media screen and (max-width:940px){
   #main{
       border-radius: 0;
       border: none;
       box-shadow: none;
   }
   body{
       background-color: white;
   }
   #plusle,#minun{
      font-size:2em;
   }
}