#Options{
    display:flex;
    flex-direction: column;
    max-width: 50em;
}

button{
    height:5em;
    margin-bottom:0.5em;
}

#next{
    width:15em;
}

.selected{
    box-shadow: 0 0 0.42em 0.16em green;
}

h2{
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}