#Options{
    display:flex;
    flex-direction: column;
    max-width: 50em;
}

button{
    height:5em;
    margin-bottom:0.5em;
}

#next{
    width:15em;
}

.selected{
    box-shadow: 0 0 0.42em 0.16em green;
}

h1,h2,p,button{
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

h1{
    font-size: 4em;
}

h2{
    font-size:2em;
}

p{
    font-size: 2em;
}

#main{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    grid-area:main;
    padding:8em;
    border-radius:5em;
    border:solid 0.5em rgba(255, 119, 0, 0.526);
    box-shadow:1em 1em rgba(0, 255, 238, 0.784);
 }

 nav{
    grid-area:nav;
    background-color: aqua;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display:flex;
    flex-direction: row;
    align-content: center;
    border-bottom:0.3em solid rgba(0, 0, 0, 0.324);
 }

 nav > button{
    background-color: aqua;
    margin-bottom:auto;
    width: 10em;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:solid rgba(0, 0, 0, 0.324);
    font-size: 1.2em;
 }

 #quizMaker button{
    background-color: black;
    color:white;
    height:fit-content;
    padding: 0.5em;
    font-size:2em;
    width:10em;
 }

 #quizMaker{
    text-align:center;
 }

 #newAndStart{
    display:flex;
    justify-content: center;
 }

 #newAndStart > button{
    margin-right:1em;
    margin-left:1em;
 }

 body{
    background-color: rgb(0, 89, 255);
    display:grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 0fr 0.4fr 2fr 2fr 2fr;
    grid-template-areas: 
    "nav nav nav nav"
    ". . . ."
    ". main main ."
    ". . . .";
 }